.titulo{
text-align: center;
color: #32CD32;
}
.subtitulo{
	text-align: center;
}
.rodape{
	background: #708090;
}
.fundo{
	background: #DCDCDC;
	border: 1px solid gray;
}
.paragrafo{
	 font-size: 20px;
    text-align: justify;
}